body{
margin:0;
padding:0;
}
#projectCarousel{
	
	margin: 0 auto;
	clear:both;
	overflow:crop;
}

*{
	box-sizing: border-box;
}

.projectPage{
background-color: black;
width:100%;

margin-top:0px;
}
.projectPage img{
width:100%;
}


/*pageOne styles*/
.pageOne{
	min-width: 760px;
	background-image: url(../media/slide1bg.jpg);
	padding: 50px;
	background-position: center 100% !important; 
	background-size:200%;
}

.pageOne h2{
	font-size:100px;
	padding-right:30px;
	color:#000099;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
}

.pageOne p{
	font-size: 18px;
	padding: 12px 0 18px 0;
	color: #fff;
	text-shadow:0px 1px 3px rgba(0,0,0,.3);
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 35;
	pointer-events:none;
	border-top: 1px solid #fff;
	max-width: 800px;
}

.pageOne a{
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	padding: 12px;
	position: relative;
	z-index: 5;
}

@media screen and (max-width:800px) { 
	.pageOne h2{
		font-size: 60px;
	}

	.pageOne p{
		font-size: 14px;
	}
}



/*pageTwo styles*/
.pageTwo{
	min-width: 760px;
	background-image: url(../media/slide1bg.jpg);
	padding: 50px;
	background-size:200%;
}

.pageTwo h2{
	font-size:100px;
	padding-right:30px;
	color:#ff0;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
}

.pageTwo p{
	max-width: 800px;
	text-shadow: 0px 1px 8px rgba(0,0,0,.8);
	font-size: 18px;
	padding: 12px 0 18px 0;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
	border-top: 1px solid #fff;

}

/*pageThree styles*/
.pageThree{
	
	min-width: 1024px;
	padding: 50px;
}

.pageThree .leftcolumn{
	width: 25% !important;
	margin: 0 5% 0 0;
	padding: 50px 0 50px 0;
	float: left;
}

.pageThree .rightcolumn{
	width: 70% !important;
	float: left;
	background: url(../media/project1image1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;


}

.pageThree h2{
	font-size:60px;
	padding-right:30px;
	color:#000099;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
	margin-right:0px;
	width:40%;
}

.pageThree p{
	max-width: 100%;
	font-size: 18px;
	padding: 12px 0 18px 0;
	color: #666;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
	border-top: 1px solid #aaa;
	 
}



@media screen and (max-width:1024px) { 
	.pageThree h2{
		font-size: 40px;
	}

	.pageThree .leftcolumn{
		padding: 100px 0 100px 0;
	}

	.pageThree p{
		font-size: 14px;
	}
}

/*pageFour styles*/


.pageFour{
	
	min-width: 1024px;
	padding: 50px;
}

.pageFour .rightcolumn{
	width: 25% !important;
	margin: 0 0 0 5%;
	padding: 50px 0 50px 0;
	float: left;
}

.pageFour .leftcolumn{
	width: 70% !important;
	float: left;
	background: url(../media/project1image1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;


}

.pageFour h2{
	font-size:60px;
	padding-right:30px;
	color:#000099;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
	margin-right:0px;
	width:40%;
}

.pageFour p{
	max-width: 100%;
	font-size: 18px;
	padding: 12px 0 18px 0;
	color: #666;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
	border-top: 1px solid #aaa;
	 
}



@media screen and (max-width:1024px) { 
	.pageFour h2{
		font-size: 40px;
	}

	.pageFour .leftcolumn{
		padding: 100px 0 100px 0;
	}

	.pageFour p{
		font-size: 14px;
	}
}


/*pageFive styles*/
.pageFive{
	min-width: 760px;
	background: url('../media/project2-image1.png') black;
	background-repeat: no-repeat;
	background-size: cover;
	
	padding: 50px;
}

.pageFive .textBox{

}

.pageFive h2{
	font-size:60px;
	padding-right:30px;
	color:#ff0;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
}

.pageFive p{
	width: 500px;
	font-size: 18px;
	padding: 12px 0 18px 0;
	color: #ddd;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
	border-top: 1px solid #fff;
	margin: 
}

.pageFive .templateImg{
}

/*pageSeven styles*/
.pageSix{
	background: url('') grey;
	
	padding: 50px;
}

.pageSix .textBox{
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.pageSix h2{
	font-size:48px;
	padding-right:30px;
	color:#fff;
	text-transform: uppercase;
	z-index: 5;
	pointer-events:none;
}

.pageSix p{
	width: 275px;
	font-size: 14px;
	padding: 12px 0 18px 0;
	color: #444;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
	border-top: 1px solid #fff;
	margin: 
}

.pageSix .templateImg{
}

/*pageSeven styles*/
.pageSeven{
	background: url('') grey;
	
}

.pageSeven .textBox{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: auto;
	padding: 25px 50px 25px 50px;
}

.pageSeven p{	
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
}

/*pageEight styles*/
.pageEight{
	background: url('') grey;
	
}

.pageEight .textBox{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: auto;
	padding: 25px 50px 25px 50px;
	position: absolute;
	bottom: 0;
}

.pageEight p{	
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 5;
	pointer-events:none;
}