.work
{
	position: relative;
	width: 100%;
	height: auto;
}

#workHolder .tile
{
	color: #f0f0f0;
	width: auto;
	max-width: inherit;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
}

.tileBar
{
	height: 450px;
	width: 400px;
}

.titleHeader
{
	font-size: 16pt;
	text-align: center;
	background-color: #3534b2;
	position: relative;
	top: 2.4em;
	z-index: 10;
	padding: 12px;
	color: #ebebeb;
}

#workHolder
{
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	top: -45em;
	left: 1.5em;
	overflow-x: scroll;
}

.projBtn
{
	position: relative;
	top: -8em;
	left: 0.5em;
	z-index: 1000;
	border-style: solid;
	border-color: #f0f0f0;
	padding: 12px;
	width: 39%;
	cursor: pointer;
}

.tileText
{
	z-index: 10000;
	position: relative;
	top: -8em;
	left: 0.5em;
	padding: 1px;
	width: 90%;
}

#about
{
	text-align: center;
}

.slider autoplay div
{
	height: 50%;
	width: 50%;
}